*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    background-color: grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}

.stopwatch{
    background-color: black;
    padding: 20px 24px;
    border-radius: 10px;
}

.timerdisplay{
    font-size: 50px;
    font-weight: bold;

}

.buttons{
    margin-top: 20px;

}

.btn{
    font-size: 30px;
    background: none;
    border: none;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    cursor: pointer;
    border-radius: 8px;
}
